[Unit]
Description=Open Tournament service file

[Service]
ExecStart=/usr/local/bin/OpenTournament
Restart=on-failure

[Install]
WantedBy=multi-user.target